{% extends 'base.html.twig' %}

{# ************ BLOCK HEAD ************ #}
   {% block head %}
       {# ************ BLOCK META ************ #}
       {% block meta %}
           {{ parent() }}

       {% endblock %}

       {# ************ BLOCK TITLE ************ #}
       <title>
           {% block title %}
               {{ parent() }}
               {#Title#}Index
           {% endblock %}
       </title>

       {# ************ BLOCK CSS ************ #}
       {% block css %}
           {{ parent() }}
       {% endblock %}

       {# ************ BLOCK FONTS ************ #}
       {% block fonts %}
           {{ parent() }}
       {% endblock %}

       {# ************ BLOCK FAVICON ************ #}
       {% block favicon %}
           {{ parent() }}
           {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
       {% endblock %}

   {% endblock %}

{# ************ BLOCK BODY ************ #}
{% block body %}
    {# ************ BLOCK HEADER ************ #}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {# HTML HERE #}
    Page de test<br>
    newline<br>
    <i class="fa fa-steam-square" aria-hidden="true"></i>
    {{ dump(test) }}

    {# ************ BLOCK FOOTER ************ #}
    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

{# ************ BLOCK JAVASCRIPTS ************ #}
{% block javascripts %}
    {{ parent() }}
{% endblock %}