{% extends 'admin/base.html.twig' %}

{# ************ BLOCK HEAD ************ #}
   {% block head %}
       {# ************ BLOCK META ************ #}
       {% block meta %}
           {{ parent() }}

       {% endblock %}

       {# ************ BLOCK TITLE ************ #}
       <title>
           {% block title %}
               {{ parent() }}
               {#Title#}Game edit
           {% endblock %}
       </title>

       {# ************ BLOCK CSS ************ #}
       {% block css %}
           {{ parent() }}
       {% endblock %}

       {# ************ BLOCK FONTS ************ #}
       {% block fonts %}
           {{ parent() }}
       {% endblock %}

       {# ************ BLOCK FAVICON ************ #}
       {% block favicon %}
           {{ parent() }}
           {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
       {% endblock %}

   {% endblock %}

{# ************ BLOCK BODY ************ #}
{% block body %}
    {# ************ BLOCK HEADER ************ #}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {# HTML HERE #}
    <h1>Game edit</h1>

    <form action="{{ path('game_update', { 'id': document.id }) }}" method="post">
        {{ form_widget(edit_form) }}

        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('game') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('game_delete', { 'id': document.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>

    {# ************ BLOCK FOOTER ************ #}
    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

{# ************ BLOCK JAVASCRIPTS ************ #}
{% block javascripts %}
    {{ parent() }}
{% endblock %}